body {
    font-family: Arial, sans-serif;
    background-color: #b49fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #07010e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.produto {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px #07010e(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.produto h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.produto p {
    margin: 0;
}

.preco {
    font-weight: bold;
    color: #00ce1b;
}

footer {
    background-color: #08030f;
    color: #fff;
    padding: 20px;
    text-align: center;
}